{% macro input(name, value, type, size, id) %}
    <input type="{{ type|default('text') }}" name="{{ name }}" value="{{ value|e }}" size="{{ size|default(45) }}" id="{{ id|default( name ) }}"/>
{% endmacro %}

{% macro label(for, value, class) %}
    <label for="{{ for|default('') }}"  class="{{ class|default('')}}" >{{ value}}</label>
{% endmacro %}

{% macro checkbox(name, value_checked, value_unchecked, checked) %}
    {# Cheesy... #}
    <input type="hidden" name="{{ name }}" value="{{ value_unchecked }}" />
    <input type="checkbox" name="{{ name }}" value="{{ value_checked }}" {{ checked?"checked=\'checked\'":"" }} id="{{name}}"/>
{% endmacro %}

{% macro textarea(name, value, cols, rows, id) %}
    <textarea name="{{ name }}" rows="{{ rows|default(6) }}" cols="{{ cols|default(45) }}" id="{{ id|default(name) }}">{{ value|e }}</textarea>
{% endmacro %}

{% macro select(name, options, selected) %}
    <select name="{{ name }}">
        {% for key,value in options %}
        {% if key == selected%}
            <option selected="selected" value="{{key}}">{{value}}</option>
        {% else %}
            <option value="{{key}}">{{value}}</option>
        {% endif %}
        {% endfor %}
    </select>
{% endmacro %}

{% macro submit() %}
<input type="submit"/>
{% endmacro %}