{% extends "blocks/base.html" %}

{% block title %}{{item.conference_name}}{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block content %}
<a href="{{ route('programmation') }}">Retour</a>

<img src="/assets/img/conferenciers/147x160/{{item.presenter_image}}"/>

<p>{{item.presenter_name}}</p>

{% if item.website %}
<p><a href="{{item.website}}">{{item.website}}</a></p>
{%endif%}

{% if item.twitter_handle %}
<p><a href="http://www.twitter.com/{{item.twitter_handle}}">@{{item.twitter_handle}}</a></p>
{%endif%}

{% if item.presenter_resume %}
{{ item.presenter_resume|markdown }}
{%endif%}


<p>{{item.conference_name}}</p>
<p class="tags">{{item.tags}}</p>

{% if item.conference_resume %}
{{ item.conference_resume|markdown }}
{%endif%}
{% if item.conference_goals %}
{{ item.conference_goals|markdown }}
{%endif%}

<p>Placeholder for date.</p>


        {% endblock %}